@{
    ViewData["Title"] = "Ulwazi Mapukata • Portfolio";
}

<body>
    <div id="top"></div>
    <div class="section" id="introduction">
        <div id="bg-div"></div>
        <div id="intro-content">
            <div id="intro-left" class="animate-scroll intro-half">
                <div id="headshot-content">
                    <div id="headshots">
                        <picture>
                            <source srcset="images/headshot-bw.webp" type="image/webp">
                            <img id="headshot-bw" class="headshot" src="/images/headshot-bw.png" alt="black and white headshot of ulwazi mapukata" width="512" />
                        </picture>
                        <picture>
                            <source srcset="images/headshot-color.webp" type="image/webp">
                            <img id="headshot-color" class="headshot crop" src="/images/headshot-color.png" alt="color headshot of ulwazi mapukata" width="512" />
                        </picture>
                    </div>
                </div>
                <div id="social-buttons">
                    <a id="in-btn" class="btn btn-primary social" target="_blank" href="https://www.linkedin.com/in/ulwazi-mapukata-6966b980"><img class="social-img" src="/images/in-icon.png" alt="linkedin icon" width="64" /></a>
                    <a id="h-btn"class="btn btn-primary social" target="_blank" href="https://www.instagram.com/ulwazi_f_m?igsh=MW44cG8zNHg0NHh5Zg=="><img class="social-img" src="/images/instagram-logo-5.png" alt="instagram icon"width="64"/></a>
                    <a id="git-btn" class="btn btn-primary social" target="_blank" href="https://github.com/UlwaziM"><img class="social-img" src="images/git-icon.png" alt="github icon" width="64"/></a>
                </div>
            </div>
            <div id="intro-right" class="animate-scroll intro-half">
                <div id="title-text">
                    <h1 id="intro-title"><b>Hello,</b><br />I'm Ulwazi</h1>
                    <p id="intro-tagline">A reliable and proficient senior .NET developer who self-motivated, logical, and goal-oriented professional known for adaptability.</p>
                </div>
                <div id="intro-buttons">
                    <a id="resume-btn" class="btn btn-primary intro" target="_blank" href="https://drive.google.com/file/d/1ebYRxPpK640KZqTJ76aWXkXrQ7s7Pggk/view?usp=sharing">RESUME</a>
                    <a id="meeting-btn" class="btn btn-primary intro" target="_blank" href="https://calendly.com/ulwazim/30min">SCHEDULE A MEETING</a>
                </div>
            </div>
        </div>
        <a class="btn-arrow" href=#about-anchor id="about-me-button">About Me<br />∨</a>
    </div>
    <div id="about-anchor"></div>
    <article class="section" id="about-me">
        <div id="about-content">
            <h1 class="animate-scroll" id="about-header"><strong>About Me</strong></h1>
            <p class="animate-scroll" id="about-me-paragraph">
                With over a decade of experience, I have been instrumental in crafting and maintaining tailored financial
                enterprise applications utilizing Microsoft .NET and SQL technologies. My strength lies in meticulous
                problem-solving, a deep understanding of system design and coding principles, with the ability to tackle
                complex challenges effectively ensuring the delivery of robust solutions.<br /><br />

                Proficient in the Software Development Life Cycle (SDLC), I excel in rigorous testing, seamless integration,
                and system maintenance. My expertise spans <a id="more-skills" href="#proj-skill">C# and .NET development</a>,
                ASP.NET MVC/Core for dynamic web applications, database management with SQL design and optimization,
                implementation of RESTful APIs and web services, front-end development focusing on user experience,
                version control through Azure DevOps, and Agile methodologies for iterative development.<br /><br />

                As a self-motivated, logical, and goal-oriented professional, I am recognized for my adaptability and
                commitment to excellence. My dedication ensures that I consistently meet and exceed expectations,
                establishing me as a reliable and proficient senior .NET developer.
            </p>
        </div>
        <a class="btn-arrow" href=#edu-exp id="credentials-button">My Credentials<br />∨</a>
        <img id="top-left-line" src="/images/top-left-line.png" alt="top corner art yellow" />
        <img id="bottom-right-line" src="/images/bottom-right-line.png" alt="bottom corner art yellow"/>
    </article>
    <section class="section" id="edu-exp">
        <div id="edu-exp-title">
            <h2>Experience & Education</h2>
            <button id="edu-exp-expand" class="btn-arrow expand" data-bs-toggle="collapse" data-bs-target="#edu-exp-info">Expand<br />∨</button>
        </div>
    </section>
    <div id="collapse-container">
        <div class="collapse" id="edu-exp-info">
            <div id="edu-exp-box">
                <div id="edu-exp-content">
                    <h3>Work Experience</h3>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/absa-logo.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/absa-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">Jan 2021 - Dec 2023</h5>
                            <h4 class="header">Lead Product Engineer (VP)</h4>
                            <h6 class="subheader">Absa Bank Limited • Johannesburg, South Africa</h6>
                            <p class="details">
                                <ul class="details">
                                    <li>
                                        <strong>Frontend & UI Development:</strong> Designed and built responsive,
                                        user-friendly interfaces using ASP.NET Core (Razor), JavaScript,
                                        CSS, and CSHTML.
                                    </li>
                                    <li>
                                        <strong>Backend & API Development:</strong> Architected scalable, highperformance
                                        APIs using C#, .NET Core, and Entity Framework,
                                        ensuring seamless integrations with banking systems.
                                    </li>
                                    <li>
                                        <strong>Source Control & CI/CD:</strong> Managed TFS (later Azure DevOps)
                                        repositories, implementing CI/CD pipelines to automate builds,
                                        testing, and deployments.
                                    </li>
                                    <li>
                                        <strong>Application Hosting & Deployment:</strong> Deployed and managed internal and external web applications on IIS,
                                        implementing load balancing and SSL encryption to ensure high availability and reliability.
                                    </li>
                                    <li>
                                        <strong>Disaster Recovery & Uptime:</strong> Led bi-annual disaster recovery
                                        exercises across all projects, ensuring high availability and zero
                                        service interruptions.
                                    </li>
                                    <li>
                                        <strong>Technical Leadership:</strong> Mentored junior engineers, enforced
                                        best practices for full-stack development, and conducted code
                                        reviews to maintain high code quality.
                                    </li>
                                    <li>
                                        <strong>Cross-functional Collaboration:</strong> Worked with UI/UX teams,
                                        security engineers,risk and compliance officials and product managers to align technology
                                        with business needs.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/absa-logo.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/absa-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h5 class="date">Sep 2012 - Dec 2021</h5>
                            <h4 class="header">Specialist Product Engineer (AVP)</h4>
                            <h6 class="subheader">Absa Bank Limited • Johannesburg, South Africa</h6>
                            <p class="details">
                                <ul class="details">
                                    <li>
                                        <strong> Full-Stack Development:</strong> Built robust frontend and backend
                                        systems, optimizing performance and usability.
                                    </li>
                                    <li>
                                        <strong>Database & API Management:</strong> Developed secure, highavailability
                                        APIs using Entity Framework and .NET Core for
                                        seamless database interactions.
                                    </li>
                                    <li>
                                        <strong>Version Control & CI/CD:</strong> Used TFS/Azure DevOps to manage
                                        repositories and implement CI/CD pipelines for SIT, UAT, and
                                        Production deployments.
                                    </li>
                                    <li>
                                        <strong>Application Hosting & Maintenance:</strong> Deployed and
                                        maintained applications on IIS, ensuring secure hosting for
                                        both internal and external-facing platforms.
                                    </li>
                                    <li>
                                        <strong>Disaster Recovery & Performance Optimization:</strong>
                                        Conducted bi-annual disaster recovery simulations, ensuring
                                        all applications maintained 99.9% uptime.
                                    </li>
                                    <li>
                                        <strong>Security & Compliance:</strong>  Ensured end-to-end encryption,
                                        authentication protocols, and API security best practices.
                                    </li>
                                </ul>
                            </p>
                        </div>
                    </div>
                    <h3>Education</h3>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/julia-academy-logo-2.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/julia-academy-logo-2.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h4 class="header">Julia Academy</h4>
                            <h6 class="subheader">Certificate in Data Science</h6>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/scrum-alliance-logo.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/scrum-alliance-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h4 class="header">Scrum Alliance</h4>
                            <h6 class="subheader">Certified Scrum Master ®</h6>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/oracle-logo.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/oracle-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h4 class="header">Oracle</h4>
                            <h6 class="subheader">Certified Professional: Oracle Java SE 6 Programmer</h6>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/milpark-logo-2.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/milpark-logo-2.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                            <h4 class="header">Milpark Business School</h4>
                            <h6 class="subheader">National Certificate: Banking Services Advice</h6>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/walter-sisulu-logo.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/walter-sisulu-logo.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                          @*   <h5 class="date">Class of 2010</h5> *@
                            <h4 class="header">Walter Sisulu University</h4>
                            <h6 class="subheader">National Diploma: Information Technology</h6>
                            <p class="details">Relevant Coursework:</p>
                            <ul class="details">
                                <li>Software Development(VB,C++,Java)</li>
                                <li>Information Systems</li>
                                <li>Technical Programming</li>
                                <li>Data Structures and Object Oriented Programming</li>
                                <li>System Software</li>
                            </ul>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <picture>
                            <source srcset="images/hudson-icon.webp" type="image/webp">
                            <img class="edu-exp-img" src="images/hudson-icon.png" height="256" width="256" loading="lazy">
                        </picture>
                        <div info>
                           @*  <h5 class="date">Class of 2021</h5> *@
                            <h4 class="header">Hudson Park High School</h4>
                            <h6 class="subheader">Matric (High School Diploma)</h6>
                        </div>
                    </div>

                    <h3>Extracurriculars</h3>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <img class="edu-exp-img" src="images/sansa-logo.png" height="256" width="256" loading="lazy">
                        <div info>
                            <h5 class="date"> 2023 - 2024</h5>
                            <h4 class="header">SANSA</h4>
                            <h6 class="subheader">South African National Space Agency</h6>
                            <p class="details">
                                <ul class="details">
                                    <li><strong>SANSA Trainings:</strong> <br />Participated in specialized trainings by the South African National Space Agency.</li>
                                    <li><strong>Earth Observation Data & Geospatial Technology:</strong> <br />Completed a training focused on using QGIS and other space technologies for decision-making in local municipality areas, emphasizing practical</li>
                                    <li><strong>Harnessing Space Technological Applications in Sustainable Urban Development:</strong> <br />This training highlighted the use of Julia Programming Language for space-related applications, specifically to visualize and process earth observation data for sustainable human settlement applications.</li>
                                </ul>

                            </p>
                        </div>
                    </div>
                    <div class="edu-exp-div box-shadow animate-scroll">
                        <img class="edu-exp-img" src="images/unoosa-logo.png" height="256" width="256" loading="lazy">
                        <div info>
                            <h5 class="date"> 2023 - 2024</h5>
                            <h4 class="header">UNOOSA</h4>
                            <h6 class="subheader">United Nations Office for Outer Space Affairs</h6>
                            <p class="details">
                                <ul class="details">
                                    <li><strong>UNOOSA Events:</strong><br /> Participated in prestigious events organized by the United Nations Office for Outer Space Affairs, enhancing expertise and networking.</li>
                                    <li><strong>EUSPA Entrepreneurship Training:</strong><br /> Completed specialized training provided by the European Union Agency for the Space Programme.</li>
                                    <li><strong>Copernicus Data Training:</strong><br /> Participated in training on the use of data from Copernicus Climate Change and Atmosphere Monitoring Services, conducted by ECMWF.</li>
                                    <li><strong>UN/Austria Symposium:</strong><br /> Attended the symposium in July 2024, organized by UNOOSA and the Government of Austria.</li>
                                </ul>

                            </p>
                        </div>
                    </div>
                </div>
                <img id="top-right-line" src="/images/top-right-line.png" loading="lazy"/>
                <img id="bottom-left-line" src="/images/bottom-left-line.png" loading="lazy"/>
            </div>
        </div>
    </div>
    <section class="section" id="proj-skill">
        <div id="proj-skill-title">
            <h2>Projects & Skills</h2>
            <button id="skill-expand-button" class="btn-arrow expand" data-bs-toggle="collapse" data-bs-target="#proj-skill-info">Expand<br />∨</button>
        </div>
    </section>
    <div id="proj-skill-container">
        <div class="collapse" id="proj-skill-info">
            <div class="outside-container">
                <div id="projects">
                    <div class="project animate-scroll" id="umapukata">
                        <div class="text">
                            <h5 class="text date">December 2024</h5>
                            <h4 class="text header">umapukatadotcoza</h4>
                            <h6 class="text subheader">HTML | CSS | JavaScript | C# | ASP.NET Core MVC | Bootstrap | MVC | .NET 8 | Photoshop</h6>
                            <p>
                                I created this portfolio website using ASP.NET Core MVC, 
                                featuring responsive design, dark mode, animations, and live chat. 
                                Implemented CI/CD through GitHub and Railway for automated deployments.
                            </p>
                        </div>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/UlwaziM/umapukatadotcoza">View on Github</a>
                        </div>
                    </div>
                    <div class="project animate-scroll" id="soliddemo">
                        <div class="text">
                            <h5 class="text date">January 2025</h5>
                            <h4 class="text header">DotNET CSharp SOLID demos</h4>
                            <h6 class="text subheader">C# | .NET 8</h6>
                            <p>
                                This repository contains five solution, each demonstrating one of the principles in action. 
                                All the solutions contain exactly the same application that is gradually being refactored to adhere to each of the SOLID principles.
                            </p>
                        </div>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/UlwaziM/DotNET-CSharp-S.O.L.I.D-demos">View on GitHub</a>
                        </div>
                    </div>
                    <div class="project animate-scroll" id="bookstore">
                        <div class="text">
                            <h5 class="text date">January 2025</h5>
                            <h4 class="text header">BookStoreApi</h4>
                            <h6 class="text subheader">ASP.NET Core | MongoDB | C# | .NET 8 </h6>
                            <p> 
                                This is a web API that runs C.R.U.D operations on a MongoDB NoSQL database which I created using ASP.NET Core for learning purposes.
                        
                            </p>
                        </div>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/UlwaziM/BookStoreApi">View on Github</a>
                        </div>
                    </div>
                    <div class="project animate-scroll" id="eth">
                        <div class="text">
                            <h5 class="text date">January 2025</h5>
                            <h4 class="text header">Eth Todo List</h4>
                            <h6 class="text subheader">Solidity | Truffle | Ganache | Web3.js | MetaMask</h6>
                            <p>
                                This Web3 project is a decentralized to-do list app on the Ethereum blockchain,
                                using smart contracts for data and business logic, ensuring immutability and 
                                security by avoiding centralized servers.
                            </p>
                        </div>
                        <div id="button-div">
                            <a class="git-btn" target="_blank" href="https://github.com/UlwaziM/eth-todo-list">View on GitHub</a>
                        </div>
                    </div>
                </div>
              
            </div>
            <div class="outside-container" id="skill-container">
                <h3 class="proj-title">Technical Skills</h3>
                <div id="skills">
                    <img class="skill-icon" id="azuredevops" src="images/azure-devops-icon.png" />
                    <img class="skill-icon" id="sqlserver" src="images/sql-icon.png" />
                    <img class="skill-icon" id="csharp" src="images/csharp-icon.png" />
                    <img class="skill-icon" id="javascript" src="images/js-icon.png" />
                    <img class="skill-icon" id="html5" src="images/html-icon.png" />
                    <img class="skill-icon" id="css3" src="images/css-icon.png" />
                    <img class="skill-icon" id="julia" src="images/julia-icon.png" />
                    <img class="skill-icon" id="dotnet" src="images/net-icon.png" />
                    <img class="skill-icon" id="bootstrap" src="images/bootstrap-icon.png" />
                    <img class="skill-icon" id="dotnetcore" src="images/dotnetcore-icon.png" />
                    <img class="skill-icon" id="aspdotnet" src="images/aspdotnetmvc-icon.png" />
                    <img class="skill-icon" id="mongodb" src="images/mongodb-icon.png" />
                    <img class="skill-icon" id="objectivec" src="images/objectivec-icon.png" />
                    <img class="skill-icon" id="xaml" src="images/xaml-icon.png" />
                    <img class="skill-icon" id="qgis" src="images/qgis-icon.png" />
                    <img class="skill-icon" id="docker" src="images/docker-icon.png" />
                    <img class="skill-icon" id="solidity" src="~/images/solidity-icon.png"/>
                    <img class="skill-icon" id="truffle" src="~/images/truffle-suite-icon.png" />
                    <img class="skill-icon" id="ganache" src="~/images/ganache-icon.png" />
                    <img class="skill-icon" id="web3js" src="~/images/web3-icon.png" />
                    <img class="skill-icon" id="metamask" src="~/images/metamask-icon.png" />



                </div>
            </div>
        </div>
    </div>
</body>
